body{
    margin: 0;
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1574273509043-f94f45e5b164?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1775&q=80");
    background-position-y: -200px;
    background-position-x: -200px;
    background-attachment: fixed;
}

/* meme-header css */
.header{
    display: flex;
    align-items: center;
    height: 65px;
    background-color: rgba(243, 239, 239, 0.932);
    color: black;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    border: 2px solid #ffba49
}
.header:hover{
    background-color: #383D3B;
    color: #EEE5E9
}

.headerImg{
    height: 100%;
    margin-right: auto;
    margin-left: 2%;
}


.headerTitle{
    font-size: 30px;
}

.headerMeme{
    margin-right: 7%;
    font-size: 20px;
}

/* meme form css  */

.memeImage{
    width:350px;
    height:300px
}

.memeContainer{
display:grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows: 100px;
}

.form{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows: 80px;
grid-column: 1/-1;
background-color: #383d3bc3;
margin-left: 20%;
margin-right: 20%;
grid-row:1/6;
border-radius: 5px;
border: 2px solid #ffba49;
margin-top:10px
}

.memePreview{
width:500px;
height:300px;
grid-column: 2/3;
grid-row: 2/6;
position: relative;
left: 15%;
bottom:25px;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-auto-rows: 80px;

}

img{
border-radius: 5px;
}

.form--topInput{
height:20px;
width: 250px;
border-radius:5px;
margin-top:25px;
margin-left: 45%

}

.form--bottomInput{
height:20px;
width: 250px;
border-radius:5px;
grid-column: 3/4;
margin-top:25px;
position:relative;
right: 40%
}

.form--button{
width: 180px;
grid-row:6/7;
grid-column: 2/3;
margin-left: 35%;
cursor: pointer;
}

.formAddBtn{
    grid-row:6/7;
    grid-column: 2/3;
    cursor: pointer;
    
}

button{
height:30px;
width:70px;
font-family:Arial, Helvetica, sans-serif;
border-radius: 10px;
}

button:hover{
    background-color: #ffba49;
    color: black;
}

/* meme text for preview  */
.meme--text.top{
grid-column: 1/2;
position: relative;
bottom: 95px;
text-align: center;
color: white;
font-size: 40px;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
font-family:Arial, Helvetica, sans-serif;
}

.meme--text.bottom{
    grid-column: 1/2;
    position: relative;
    text-align: center;
    grid-row: 4/5;
    bottom:25px;
    color: white;
	font-size: 40px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family:Arial, Helvetica, sans-serif;
}

/* added meme styling */
.memeList{
    grid-column:2/3;
    grid-row:7/8;
}

.addedMemeDiv{
    background-color: #383d3bc3;
    color: white;
    border: 2px solid #ffba49;
    margin-top: 10px;
}

.savedTitle{
width: 100%;
text-align: center;
background-color: #EEE5E9;
height: 70px;
margin:0;
line-height: 2;
border-radius:5px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid #ffba49
}

.savedTitle:hover{
    background-color: #383D3B;
    color: #EEE5E9
}